
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 18px;
}










/* Your code starts here! */










body {
	max-width: 880px;
	width: 90vw;
	margin: 0 auto;
}



/*header-start*/
header {
	margin: 20px 0 36px 0;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
}
nav, .services-header-img, header h1, header p {
    margin: 7px 0 0 0;
}
header .logo {
    margin-left: 45px;
    order: 2;
    padding-top: 0;
}
header .nav-logo-cont {
    display: flex;
    flex-flow: row wrap;
    margin-top: 7px;
}
nav {
	display: flex;
    justify-content: space-between;
    flex: 1;
    order: 1;
}
nav .nav{
	text-decoration: none;
	color: rgb(173, 173, 173);
	font-size: 16px;
	transition: .1s ease-in;
	display: flex;
	align-items: center;
}

section {
	display: flex;
	margin-bottom: 72px;
	margin-top: 43px;
}
.txtNbtn {
	width: 440px;
	text-align: center;
	margin-left: 0px;
}
.txtNbtn h1 {
    margin: 82px auto 25px;
    font-size: 72px;
}
.centered a {
	display: block;
	text-decoration: none;
	color: black;
	font-size: 17px;
	border: 1px solid rgb(0, 0, 0);
	width: 170px;
	padding: 7px 0;
	margin: auto;
	transition: .1s ease-in;
}
.centered a:hover {
	color: white;
	background-color: rgb(0, 0, 0);
	transform: scale(1.1);
	border-radius: 5px;
}
nav a:hover {
    text-decoration: underline;
    color: rgb(102, 102, 102);
}
.rnd-img {
	/* width: 400px; */
	/* text-align: center; */
	/* display: block; */
	margin-left: auto;
}
.rnd-img img {
	width: 378px;
	padding: 30px 0 0 0px;
}
/* end header */

/*main start */
main, footer {
	font-size: 100%;
}
main{
    border-bottom: 2px solid black;
    padding-bottom: 8px;
    margin-bottom: 32px;
}
.sec1, .sec2 {
	text-align: left;
	margin-top: 27px;
	margin-bottom: 38px;
}
.cont, .cont2 {
	width: 50%;
	position: relative;
	padding: 0 10px 0 0;
}
main img {
	width: 100%;
}
.cont2 {
	width: 33.33%;
}
/*main end*/

/*footer start*/
footer {
	border: none;
	text-align: center;
}
footer section {
	text-align: left;
	margin-top: 20px;
    flex-direction: column;
    margin-bottom: 36px;
}
/*footer end*/


/* tablet responsive */
@media(max-width: 800px){

    header .nav-logo-cont {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-top: 7px;
    }
    header .logo {
        margin-left: 18px;
        margin-bottom: 18px;
        order: 1;
        padding-top: 0;
    }
    header section {
        justify-content: center;
    }
    nav {
        display: flex;
        justify-content: space-between;
        order: 2;
        width: 100%;
    }
    
    nav .nav {
        text-decoration: none;
        color: rgb(173, 173, 173);
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .txtNbtn {
        width: 440px;
        text-align: center;
        margin-left: 0px;
    }
    .txtNbtn h1 {
        margin: 29px auto 46px;
        font-size: 72px;
    }
    .centered a {
        margin: auto;
    }
    .rnd-img{
        display: none;
    }

}

/* mobile responsive */

@media(max-width: 500px){

    header .logo {
        margin-left: 0px;
        margin-bottom: 4px;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav .nav {
        font-size: 22px;
        display: flex;
        border-bottom: 1px solid grey;
        width: 100%;
        justify-content: center;
        padding: 19px 0;
    }
    header section {
        margin-top: 26px;
        flex-direction: column;
    }
    .txtNbtn {
        width: 100%;
    }
    .txtNbtn h1 {
        margin: 26px 0 25px 0;
    }
    .centered a {
        margin: auto;
    }
    header {
        margin: 20px 0 16px 0;
    }
    .sec1, .sec2 {
        margin-top: 0;
        margin-bottom: 0px;
        flex-direction: column;
    }
    .cont, .cont2 {
        width: 100%;
        padding: 47px 10px 0 0;
        margin-bottom: 0px;
    }
    main img {
        padding-top: 64px;
    }
    .cont2 {
        padding: 34px 0;
    }
}